ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ol {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-position: right; 
}
 
li {
  padding: 3px;
  border-bottom: 1px solid #ccc; 
  line-height: 1.4; 
}


.normal {  
  border-bottom: 0px solid #ccc; 
  line-height: normal;
  font-size: 14pt;
}


a span {
  display: none;
  font-size: 14px;
}

li:hover a span {
  display: block;
  margin-top: 1px;
  color: #666;
}

a {
  color: #2196F3;
  text-decoration: none;
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
}

a:hover {
  background-color: #F5F5F5;
}


a.blue {
  color: #2196F3;
}

a.yellow {
  color: #FFC400;
}

a.light_blue {
  color: #50d3ff;
}

a.green {
  color: green;
}

a.dark_blue{
  color: #005498;
}
 


.gradient { 
  top: 0;
  left: 0;
  width: 100%;
  height: 2pt; 
  background-color: #cfcfcf;
  z-index: 1;
}
